.mt-tracker-toggle-container {
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  color: #444;
}

.mt-label {
  margin-left: 8px;
  font-weight: 500;
}

/* The switch - the box around the slider */
.mt-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

/* Hide default HTML checkbox */
.mt-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.mt-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.mt-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .mt-slider {
  background-color: #1a73e8;
}

input:focus + .mt-slider {
  box-shadow: 0 0 1px #1a73e8;
}

input:checked + .mt-slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.mt-slider.round {
  border-radius: 20px;
}

.mt-slider.round:before {
  border-radius: 50%;
}
